.r3d {
   align-items         : center;
   background-position : 50%;
   background-size     : cover;
   border-radius       : 50%;
   box-sizing          : border-box;
   color               : var(--ozTextPrimaryNegative);
   display             : flex;
   flex-shrink         : 0;
   justify-content     : center;
   overflow            : hidden
}
.r3d.dr4 {
   height              : 32px;
   width               : 32px
}
.r3d.d4r {
   height              : 40px;
   width               : 40px
}
.r3d.rd4 {
   height              : 64px;
   width               : 64px
}