.lp {
   display             : inline-flex
}
.pl {
   display             : block
}
.s9m {
   max-height          : 99999px;
   overflow            : hidden;
   position            : relative;
   transition          : max-height .2s
}
.s9m ul {
   -webkit-margin-before: 1em;
   -webkit-margin-after: 1em;
   -webkit-margin-start: 0;
   -webkit-margin-end  : 0;
   -webkit-padding-start: 40px;
   display             : block;
   list-style-type     : disc;
   margin-block-end    : 1em;
   margin-block-start  : 1em;
   margin-inline-end   : 0;
   margin-inline-start : 0;
   padding-inline-start: 40px
}
.s9m ul li::marker {
   content             : normal;
   display             : initial
}
.mt {
   background          : linear-gradient(to bottom,hsla(0,0%,100%,0) 0,var(--ozBGSecondary) 100%);
   display             : none;
   height              : 70px;
   margin-top          : -70px;
   position            : relative
}
.tm .mt {
   display             : block
}
.mt0 {
   position            : relative
}
.m0t {
   color               : var(--ozAccentPrimary);
   display             : block;
   margin              : 30px auto 0
}
.tm0 {
   margin              : auto
}
.t0m {
   border              : none;
   height              : 100%;
   transition          : opacity .35s ease-in-out;
   width               : 100%
}
.t0m.mt1 {
   opacity             : 0
}
.m1t {
   position            : relative
}
.m1t,.m1t .tm1 {
   font-size           : var(--bodyMFont);
   line-height         : var(--bodyMLine)
}
.m1t .tm1 {
   overflow            : hidden;
   text-overflow       : ellipsis
}
.m1t .t1m {
   background-color    : var(--ozBGSecondary);
   bottom              : 0;
   position            : absolute;
   right               : 0;
   width               : 50%
}
.m1t .t1m:after {
   background          : linear-gradient(to right,hsla(0,0%,100%,0) 0,hsla(0,0%,100%,0) 22%,var(--ozBGSecondary) 100%);
   content             : "";
   height              : 20px;
   position            : absolute;
   right               : 100%;
   top                 : 0;
   width               : 180px;
   z-index             : 0
}
.m1t .t1m .mt2 {
   z-index             : 5
}
.m2t {
   color               : var(--ozTextPrimary);
   display             : inline-block;
   font-size           : var(--headLFont);
   font-weight         : var(--fontBold);
   line-height         : var(--headLLine);
   margin-bottom       : 16px;
   outline             : none
}
.m2t.tm2 {
   font-size           : var(--headMFont);
   line-height         : var(--headMLine);
   margin-bottom       : 8px
}
.t2m {
   margin-bottom       : 16px
}
.mt3 .m2t {
   font-size           : var(--headMFont);
   line-height         : var(--headMLine);
   margin-right        : 20px
}