.ul1 {
   align-items         : center;
   box-sizing          : border-box;
   display             : flex;
   margin              : 20px 0 0 20px;
   max-width           : 340px;
   position            : relative;
   width               : 100%
}
.ul1.u1l {
   margin              : 0 0 20px;
   max-width           : 380px
}
.lu2 {
   flex-shrink         : 0;
   margin-right        : 10px
}
.l2u {
   color               : var(--ozAccentPrimary);
   cursor              : pointer;
   font-size           : var(--bodyLFont);
   line-height         : var(--bodyLLine);
   margin-right        : 5px;
   overflow            : hidden
}
.ul2 {
   color               : var(--ozTextSecondary);
   flex-grow           : 1;
   font-size           : 14px;
   white-space         : nowrap
}
.u2l {
   display             : flex;
   flex-wrap           : wrap;
   justify-content     : space-between
}
.u2l .lu3 {
   font-size           : var(--headLFont);
   font-weight         : var(--fontBold);
   line-height         : var(--headLLine);
   margin-bottom       : 16px;
   width               : 100%
}
.u2l .l3u {
   display             : flex;
   flex-flow           : row wrap;
   justify-content     : flex-start;
   margin              : -20px 0 0 -20px;
   width               : 100%
}
.u2l.ul3 .l3u {
   flex-flow           : column;
   margin              : 0
}
.u3l {
   height              : calc(100vh - 120px);
   width               : 864px
}