.yw1>:last-child {
   margin-bottom       : 12px
}
.y1w {
   margin-bottom       : 8px
}
.wy2 {
   border-radius       : 3px;
   display             : inline-block;
   font-size           : var(--captionFont);
   font-weight         : var(--fontMedium);
   line-height         : var(--captionLine);
   margin-right        : 8px;
   padding             : 2px 6px
}
.wy2.w2y {
   background          : var(--ozAccentSecondary);
   color               : var(--ozTextPrimaryNegative)
}
.yw2 {
   font-size           : var(--headLFont);
   font-weight         : var(--fontBold);
   line-height         : var(--headLLine)
}
.y2w {
   margin-top          : 8px
}
.wy3 {
   color               : var(--ozAccentAlert);
   margin-top          : 20px
}
.w3y.yw1 {
   display             : flex;
   flex-direction      : column
}
.w3y.yw1>:last-child {
   margin-bottom       : 8px
}
.w3y .y1w {
   order               : 1
}
.w3y .yw2 {
   font-size           : var(--bodyLFont);
   line-height         : var(--bodyLLine);
   order               : 0;
   padding             : 6px 6px 20px;
   text-align          : center
}
.w3y .y2w {
   order               : 2
}
.w3y .wy3 {
   margin-top          : 16px;
   order               : 3
}
.u0y {
   align-items         : center;
   display             : flex;
   justify-content     : space-between;
   padding             : 20px 0
}
.u0y.yu0 {
   cursor              : pointer
}
.y0u {
   box-sizing          : border-box;
   font-size           : var(--bodyLFont);
   font-weight         : var(--fontMedium);
   line-height         : var(--bodyLLine);
   max-width           : calc(100% - 20px);
   padding-right       : 32px;
   position            : relative;
   vertical-align      : middle
}
.uy1 {
   color               : var(--ozAccentSecondary);
   height              : 24px;
   position            : absolute;
   right               : 0;
   top                 : 50%;
   transform           : translateY(-50%);
   width               : 24px
}
.u1y {
   color               : var(--ozTextQuaternary);
   flex-shrink         : 0;
   transition          : var(--transition)
}
.u1y.yu1 {
   transform           : rotate(180deg)
}
.y1u {
   color               : var(--ozAccentAlert)
}
.x5w {
   padding-bottom      : 24px
}
.x5w .wx6 {
   display             : flex
}
.x5w .wx6+.wx6 {
   margin-top          : 10px
}
.w6x.x5w .wx6 {
   width               : 100%
}
.w6x.x5w .wx6+.wx6 {
   margin-top          : 16px
}
.w8x,.xw8 {
   padding-bottom      : 24px
}
.xw8 .x8w {
   max-width           : 288px
}
.w7x {
   align-items         : center;
   background          : var(--ozBGPrimaryHover);
   box-shadow          : 0 4px 16px 0 var(--ozParandja),0 0 0 1px rgba(0,26,52,.03);
   cursor              : pointer;
   display             : inline-flex;
   font-size           : var(--headLFont);
   height              : 32px;
   justify-content     : center;
   margin-bottom       : 16px;
   margin-right        : 12px;
   transition          : transform var(--transition);
   width               : 32px
}
.w7x.xw7,.w7x:hover {
   background          : var(--ozBGSecondary);
   transform           : scale(1.1)
}
.x7w {
   padding-bottom      : 16px
}
.x7w .wx8 {
   display             : inline-block;
   margin-bottom       : 8px;
   margin-left         : 6px
}
.x6w,.xw6 {
   padding-bottom      : 24px
}
.wx7 {
   display             : inline-flex
}
.yw3 {
   margin-bottom       : 12px
}
.yw3.y3w {
   color               : var(--ozAccentAlert)
}
.yw3.wy4 {
   color               : var(--ozAccentSecondary)
}
.wy0 {
   width               : 504px
}
.w0y {
   padding             : 42px 0 24px
}
.w0y,.yw0+.yw0 {
   border-top          : 1px solid var(--ozParandjaHover)
}
.y0w.wy1 {
   margin-bottom       : 40px
}
.w1y.wy0 {
   width               : 100%
}
.w1y .y0w {
   margin-bottom       : 24px
}
.wx9 {
   background          : var(--ozAccentPrimary);
   border-radius       : 50%;
   box-shadow          : 0 4px 16px 0 var(--ozParandja),0 0 0 1px rgba(0,26,52,.03);
   color               : var(--ozTextPrimaryNegative);
   cursor              : pointer;
   padding             : 16px
}
.wx9.w9x {
   padding             : 12px
}
.wx9.xw9 {
   animation           : x9w .5s linear 3
}
.wy {
   margin-top          : 20px
}
.yw {
   display             : block;
   margin-bottom       : 12px
}
@keyframes x9w {
   0%
   {transform:scale(1)}
   50%
   {transform:scale(1.06)}
   to {
      transform           : scale(1)
   }
}
.w4y {
   display             : inline-block
}
.yw4 {
   align-items         : center;
   box-sizing          : border-box;
   display             : flex;
   flex-direction      : column;
   max-width           : 320px;
   min-height          : 228px
}
.y4w.wy5 {
   width               : 100%
}