.a5ba {
   position            : relative
}
.a5ab {
   color               : var(--ozTextSecondary);
   font-size           : var(--bodyLFont);
   left                : 245px;
   letter-spacing      : .3px;
   line-height         : var(--bodyLLine);
   position            : absolute;
   top                 : 0
}
.baa5 {
   color               : var(--ozTextPrimary);
   font-size           : var(--headXLFont);
   font-weight         : var(--fontBold);
   line-height         : var(--headXLFont);
   position            : relative;
   text-decoration     : none
}
.baa5 .ba5a {
   display             : block;
   font-family         : var(--mainFont);
   font-size           : var(--bodyLFont);
   font-weight         : var(--fontNormal);
   line-height         : var(--bodyLLine);
   margin-top          : 8px
}
.b5aa .a5ab {
   left                : 200px
}
.b5aa .baa5 {
   font-size           : var(--headLFont);
   line-height         : var(--headLLine)
}
.aab6 .a5ab {
   left                : 95px
}
.aab6 .baa5 {
   font-size           : var(--headLFont);
   line-height         : var(--headLLine)
}
.aa6b,.aa6b .aba6 {
   position            : relative
}
.aa6b .aba6 {
   color               : var(--ozTextPrimary);
   font-size           : var(--headXLFont);
   font-weight         : var(--fontBold);
   line-height         : var(--headXLFont);
   text-decoration     : none
}
.aa6b .aba6 .ab6a {
   display             : block;
   font-family         : var(--mainFont);
   font-weight         : var(--fontMedium);
   margin-top          : 8px
}
.aa6b .a6ba,.aa6b .aba6 .ab6a {
   font-size           : var(--bodyLFont);
   line-height         : var(--bodyLLine)
}
.aa6b .a6ba {
   bottom              : 60px;
   color               : var(--ozTextSecondary);
   display             : inline-block;
   left                : 245px;
   letter-spacing      : .3px;
   position            : relative
}
.aa6b.a6ab .aba6 {
   display             : inline-block;
   font-size           : var(--headLFont);
   line-height         : var(--headLLine)
}
.aa6b.a6ab .a6ba {
   bottom              : 10px;
   left                : 5px
}
.aa6b.baa6 .aba6 {
   font-size           : var(--headLFont);
   line-height         : var(--headLLine)
}
.aa6b.baa6 .a6ba {
   bottom              : 60px;
   left                : 200px
}
.aa6b.baa6.a6ab .a6ba {
   bottom              : 10px;
   left                : 5px
}