.u7u {
   align-items         : center;
   background-color    : var(--ozWhiteOverlay);
   display             : flex;
   height              : 100%;
   justify-content     : center;
   left                : 0;
   position            : absolute;
   top                 : 0;
   width               : 100%;
   z-index             : 10
}
.uu8 {
   color               : var(--ozAccentPrimary)
}
.yz1 {
   color               : var(--ozTextSecondary)
}
.yz1.y1z {
   color               : var(--ozTextPrimary)
}
.zy1 {
   align-items         : center;
   display             : flex
}
.zy1 .z1y {
   flex-shrink         : 0;
   margin-right        : 8px;
   max-height          : 24px
}
.zy1 .yz1 {
   font-size           : var(--bodyMFont);
   line-height         : var(--bodyMLine)
}
.yz2 .yz1 {
   display             : block;
   font-size           : var(--captionFont);
   line-height         : var(--captionLine)
}
.yz2 .yz1,.yz2 .z1y>div {
   margin-top          : 16px;
   text-align          : center
}
.zy {
   align-items         : center;
   background-color    : #090089;
   border-radius       : 3px;
   color               : var(--ozTextPrimaryNegative);
   display             : inline-flex;
   font-size           : var(--bodyMFont);
   line-height         : var(--bodyMLine);
   padding             : 3px 8px
}
.yz0 {
   cursor              : pointer
}
.y0z {
   margin-right        : 3px
}
.zy0 {
   color               : var(--ozTextPrimary);
   font-size           : var(--bodyMFont);
   line-height         : var(--bodyMLine)
}
.z0y {
   display             : inline-block
}
.zy0+.z0y {
   margin-top          : 5px
}
.zy4 {
   background-color    : var(--ozBGTertiary);
   border-radius       : 8px;
   box-shadow          : 0 5px 9px 0 rgba(0,0,0,.15);
   height              : 182px;
   width               : 100%
}
.zy4 .z4y {
   display             : flex;
   flex-direction      : row;
   height              : 80px;
   margin              : 24px;
   overflow            : hidden;
   position            : relative
}
.zy4 .z4y:after {
   background-image    : linear-gradient(180deg,hsla(0,0%,100%,0),#fff);
   bottom              : 0;
   content             : "";
   height              : 24px;
   left                : 104px;
   position            : absolute;
   width               : calc(100% - 104px)
}
.zy4 .yz5 {
   align-items         : center;
   display             : flex;
   flex-shrink         : 0;
   height              : 80px;
   justify-content     : center;
   margin-right        : 24px;
   position            : relative;
   width               : 80px
}
.zy4 .y5z {
   line-height         : 1.43;
   padding-top         : 10px;
   white-space         : normal
}
.zy4 .y5z,.zy4 .zy5 {
   color               : var(--ozTextPrimary);
   font-size           : 14px
}
.zy4 .z5y {
   align-items         : center;
   border-top          : 1px solid var(--ozBGPrimary);
   box-sizing          : border-box;
   display             : flex;
   height              : 53px;
   justify-content     : space-between;
   padding             : 0 24px
}
.zy4 .z5y.yz6 {
   justify-content     : center
}
.y6z.zy4 {
   display             : flex;
   flex-direction      : column;
   height              : 348px;
   justify-content     : space-between;
   width               : 100%
}
.y6z.zy4.zy6 {
   height              : 371px
}
.y6z.zy4 .z4y {
   box-sizing          : border-box;
   flex-direction      : column;
   height              : 250px;
   margin-bottom       : auto
}
.y6z.zy4 .yz5 {
   height              : 120px;
   margin              : 0 auto 20px;
   width               : 120px
}
.y6z.zy4 .y5z {
   margin              : 0 auto;
   max-width           : 264px;
   padding-top         : 0;
   text-align          : center
}
.zy4 a.z4y:hover .y5z {
   color               : var(--ozAccentPrimary)
}
.y6z.zy4 .z5y {
   border-top          : none;
   flex-direction      : column-reverse;
   height              : auto;
   padding-bottom      : 25px
}
.y6z.zy4 .z4y:after {
   left                : 0;
   width               : 100%
}
.y6z.zy4 .z6y .zy5 {
   order               : 1
}
.y6z.zy4 .yz7 {
   display             : block;
   margin-top          : 20px
}
.y6z.zy4 .z6y .yz7 {
   margin-top          : 30px
}
.yy7 {
   position            : relative
}
.yy7 .y7y {
   left                : 24px;
   position            : absolute;
   top                 : -8px;
   z-index             : 2
}
.yy7 .yy8 {
   display             : flex;
   flex-direction      : row;
   height              : 80px;
   margin              : 24px;
   overflow            : hidden;
   position            : relative
}
.yy7 .yy8:after {
   background-image    : linear-gradient(180deg,hsla(0,0%,100%,0),#fff);
   bottom              : 0;
   content             : "";
   height              : 24px;
   left                : 104px;
   position            : absolute;
   width               : calc(100% - 104px)
}
.y8y.yy7 .yy8 {
   box-sizing          : border-box;
   flex-direction      : column;
   height              : 250px
}
.y8y.yy7 .yy8:after {
   left                : 0;
   width               : 100%
}
.y8y.yy7 .y7y {
   top                 : 24px
}
.x2z {
   align-items         : center;
   display             : flex;
   justify-content     : center;
   overflow            : hidden;
   position            : relative
}
.zx2 {
   filter              : blur(4px)
}
.zx2.z2x {
   height              : 188px;
   max-width           : 188px
}
.xz3 {
   background-color    : var(--ozWhiteOverlay);
   height              : 100%;
   left                : 0;
   top                 : 0;
   width               : 100%
}
.x3z,.xz3 {
   position            : absolute
}
.x3z {
   left                : 50%;
   top                 : 50%;
   transform           : translate(-50%,-50%)
}
.x0z .zx0 {
   justify-content     : center
}
.z0x .xz1 {
   margin-bottom       : 56px
}
.z0x .x1z {
   font-size           : 20px;
   font-weight         : var(--fontBold);
   line-height         : 1.38;
   margin              : 0 auto 32px;
   width               : 376px
}
.z0x .zx1 {
   color               : var(--ozTextSecondary);
   display             : block;
   font-size           : var(--bodyMFont);
   font-weight         : 400;
   line-height         : var(--bodyMLine);
   margin-top          : 16px
}
.z0x .z1x {
   margin              : 0 auto
}
.x0z.xz2 .z1x {
   color               : var(--ozTextPrimaryNegative);
   margin-bottom       : 30px
}
.zx3 {
   display             : flex;
   padding             : 12px 8px
}
.z3x.xz4 .zx3 {
   width               : calc(33.33333% - 16px)
}
.z3x.x4z .zx3 {
   width               : calc(50% - 16px)
}
.z3x .zx4 {
   border-radius       : 8px;
   height              : calc(100% - 24px);
   left                : 8px;
   top                 : 12px;
   width               : calc(100% - 16px)
}
.u3u .uu4 {
   color               : var(--ozAccentAlert);
   font-size           : var(--captionFont);
   line-height         : var(--captionLine);
   margin-top          : 8px
}
.u4u.u3u .uu5 {
   color               : var(--ozTextQuaternary);
   font-size           : 10px;
   letter-spacing      : .5px;
   margin-bottom       : 6px;
   text-transform      : uppercase
}
.u4u.u3u .u5u {
   margin-bottom       : 10px
}
.u4u.u3u .u5u.uu6 {
   margin-bottom       : 0
}
.u6u.u3u .uu5 {
   color               : var(--ozTextPrimary);
   font-weight         : 700;
   margin-bottom       : 2px
}
.uu7 {
   color               : var(--ozTextSecondary);
   font-size           : var(--captionFont);
   line-height         : var(--captionLine);
   margin-top          : 8px;
   text-align          : right
}
.u7x {
   color               : var(--ozAccentSecondary)
}
.xu7 {
   color               : var(--ozAccentAlert)
}
.u1v {
   align-items         : center;
   background-color    : var(--ozBGPrimary);
   border-radius       : 3px;
   display             : flex;
   height              : 96px;
   justify-content     : center;
   overflow            : hidden;
   position            : relative;
   width               : 96px
}
.vu1 {
   cursor              : pointer;
   height              : 100%;
   left                : 0;
   opacity             : 0;
   position            : absolute;
   top                 : 0;
   width               : 100%
}
.v1u {
   color               : var(--ozAccentPrimary);
   pointer-events      : none;
   position            : relative;
   right               : 0;
   top                 : 0
}
.u1v.uv2 {
   height              : 80px;
   width               : 80px
}
.u1v.u2v,.u1v.u2v.uv2 {
   border-radius       : 6px;
   height              : 56px;
   width               : 56px
}
.uv6 {
   border-radius       : 3px;
   height              : 96px;
   overflow            : hidden;
   position            : relative;
   width               : 96px
}
.u6v {
   align-items         : center;
   -webkit-appearance  : none;
   -moz-appearance     : none;
   appearance          : none;
   background-color    : var(--ozBGSecondary);
   border              : none;
   border-radius       : 50%;
   cursor              : pointer;
   display             : flex;
   height              : 24px;
   justify-content     : center;
   padding             : 0;
   position            : absolute;
   right               : 4px;
   top                 : 4px;
   width               : 24px
}
.vu6 {
   color               : var(--ozTextPrimary)
}
.v6u {
   left                : 50%;
   min-height          : 100%;
   min-width           : 100%;
   position            : absolute;
   top                 : 50%;
   transform           : translate(-50%,-50%);
   width               : 128px
}
.v6u,.v6u.uv7 {
   max-height          : none;
   max-width           : none
}
.u7v {
   background-color    : hsla(0,0%,100%,.8);
   height              : 100%;
   left                : 0;
   top                 : 0;
   width               : 100%
}
.u7v,.vu7 {
   position            : absolute
}
.vu7 {
   color               : var(--ozAccentPrimary);
   left                : 50%;
   top                 : 50%;
   transform           : translate(-50%,-50%)
}
.v7u {
   align-items         : center;
   background-color    : var(--ozWhiteOverlay);
   border              : 2px solid var(--ozAccentAlertPale);
   box-sizing          : border-box;
   cursor              : pointer;
   display             : flex;
   height              : 100%;
   justify-content     : center;
   left                : 0;
   position            : absolute;
   top                 : 0;
   width               : 100%
}
.uv6.uv8 {
   height              : 80px;
   width               : 80px
}
.uv6.u8v,.uv6.u8v.uv8 {
   border-radius       : 6px;
   height              : 56px;
   width               : 56px
}
.uv6.u8v .u6v {
   background-color    : var(--ozTextPrimary);
   height              : 16px;
   right               : 2px;
   top                 : 2px;
   width               : 16px
}
.uv6.u8v .vu6 {
   color               : var(--ozTextPrimaryNegative);
   opacity             : .8
}
.uv6.u8v .v6u {
   width               : 60px
}
.tz8 {
   position            : relative
}
.t8z {
   position            : fixed;
   z-index             : 1000
}
.t8z,.zt8 {
   height              : 100%;
   left                : 0;
   top                 : 0;
   width               : 100%
}
.zt8 {
   align-items         : center;
   background-color    : var(--ozBGSecondary);
   border              : 2px solid var(--ozBGPrimary);
   border-radius       : 3px;
   display             : none;
   flex-direction      : column;
   font-size           : 16px;
   justify-content     : center;
   line-height         : 1.25;
   position            : absolute;
   z-index             : 2
}
.z8t,.zt8 {
   color               : var(--ozAccentPrimary)
}
.z8t {
   margin-bottom       : 12px
}
.zt8.tz9 {
   display             : flex
}
.vu2 {
   position            : relative
}
.v2u {
   color               : var(--ozTextPrimary);
   font-size           : var(--bodyLFont);
   font-weight         : var(--fontMedium);
   line-height         : var(--bodyLLine);
   margin-bottom       : 16px
}
.uv3 {
   color               : var(--ozTextSecondary);
   font-weight         : var(--fontNormal)
}
.u3v {
   align-items         : center;
   display             : flex;
   flex-wrap           : wrap
}
.vu3 {
   margin-top          : -12px
}
.v3u {
   font-size           : var(--bodyMFont);
   line-height         : var(--bodyMLine);
   margin-left         : 24px;
   width               : 270px
}
.uv4 {
   margin-bottom       : 8px
}
.u4v {
   color               : var(--ozTextSecondary)
}
.v4u,.vu4 {
   margin-top          : 12px
}
.v4u {
   margin-right        : 12px
}
.uv5 {
   margin-top          : 12px
}
.u5v .v2u,.vu5 .v2u {
   margin-bottom       : 16px
}
.vu5 .v3u {
   margin-left         : 16px;
   width               : 150px
}
.v5u .v3u {
   width               : auto
}
.v5u .v3u .uv4 {
   font-size           : var(--bodyLFont);
   line-height         : var(--bodyLLine);
   margin-bottom       : 4px
}
.tz3 {
   position            : relative
}
.t3z {
   align-items         : center;
   display             : flex;
   height              : 28px;
   margin-bottom       : 28px
}
.zt3 {
   color               : var(--ozTextPrimary);
   font-size           : 16px;
   font-weight         : var(--fontBold);
   line-height         : 1.25
}
.z3t {
   margin-left         : 8px
}
.tz4 {
   border              : 2px solid var(--ozAccentPrimaryPale);
   border-radius       : 16px;
   padding             : 3px 12px
}
.t4z,.tz4 {
   color               : var(--ozTextSecondary);
   font-size           : 14px;
   line-height         : 1.29
}
.t4z {
   align-items         : center;
   display             : flex;
   height              : 28px
}
.zt4 {
   color               : var(--ozTextPrimary)
}
.z4t {
   background-color    : var(--ozBGQuaternary);
   height              : 2px;
   position            : relative;
   width               : 100%
}
.tz5 {
   justify-content     : space-between
}
.t5z,.tz5 {
   display             : flex
}
.t5z {
   cursor              : pointer;
   height              : 10px;
   left                : 4px;
   position            : absolute;
   right               : 4px;
   top                 : -4px
}
.zt5 {
   box-sizing          : border-box;
   height              : 16px;
   margin-top          : -7px;
   position            : relative;
   width               : 16px
}
.z5t {
   color               : var(--ozTextSecondary);
   font-size           : 14px;
   line-height         : 1.29;
   margin-left         : 12px;
   min-width           : 120px;
   padding-top         : 2px;
   position            : absolute;
   text-align          : center;
   top                 : 100%;
   transform           : translateX(-50%);
   -webkit-user-select : none;
   -moz-user-select    : none;
   user-select         : none
}
.zt5:first-child .z5t {
   margin-left         : 4px;
   text-align          : left;
   transform           : translateX(0)
}
.zt5:last-child .z5t {
   margin-right        : 4px;
   right               : 0;
   text-align          : right;
   transform           : translateX(0)
}
.tz6 {
   cursor              : pointer;
   height              : 24px;
   margin-left         : -4px;
   margin-top          : -4px;
   width               : 24px
}
.t6z,.tz6 {
   position            : absolute
}
.t6z {
   height              : 10px;
   left                : 0;
   opacity             : 0;
   top                 : 0;
   width               : 10px;
   z-index             : 10
}
.zt6 {
   background-color    : var(--ozBGSecondary);
   border              : 2px solid var(--ozBGQuaternary);
   border-radius       : 50%;
   box-sizing          : border-box;
   height              : 16px;
   left                : 50%;
   margin-left         : -8px;
   margin-top          : -8px;
   position            : absolute;
   top                 : 50%;
   width               : 16px
}
.zt6:before {
   background-color    : var(--ozAccentPrimaryPale);
   transition          : transform .3s ease-in-out,background-color .3s ease-in-out
}
.zt6:after,.zt6:before {
   border-radius       : 50%;
   content             : "";
   height              : 8px;
   left                : 50%;
   margin-left         : -4px;
   margin-top          : -4px;
   position            : absolute;
   top                 : 50%;
   transform           : scale(0);
   width               : 8px
}
.zt6:after {
   background-color    : var(--ozBGSecondary);
   transition          : transform .3s ease-in-out
}
.z6t:before {
   background-color    : var(--ozAccentPrimary);
   transform           : scale(3)
}
.z6t:after {
   transform           : scale(2)
}
.tz7 {
   opacity             : 0;
   visibility          : hidden
}
.t7z {
   cursor              : grab;
   opacity             : 1;
   visibility          : visible;
   z-index             : 10
}
.t7z:before {
   background-color    : var(--ozAccentPrimaryPale)
}
.tz6.zt7 .zt6 {
   border-color        : var(--ozAccentPrimaryPale)
}
.tz6.zt7 .zt6:before {
   transform           : scale(1)
}
.tz6.zt7 .z6t:before {
   background-color    : var(--ozAccentPrimaryPale);
   transform           : scale(3)
}
.z7t .t3z {
   align-items         : flex-start;
   flex-direction      : column;
   height              : auto
}
.z7t .z3t {
   margin-left         : 0;
   margin-top          : 8px
}
.z7t .z5t {
   min-width           : 80px
}
.u8u {
   align-items         : center;
   display             : flex;
   position            : relative
}
.uu9 {
   align-self          : flex-start;
   flex-shrink         : 0
}
.u9u {
   color               : var(--ozTextPrimary)
}
.uv {
   color               : var(--ozTextSecondary)
}
.u9u+.uv {
   margin-top          : 8px
}
.vu {
   background-color    : var(--ozAccentPrimary);
   border-radius       : 0 0 2px 2px;
   bottom              : 0;
   height              : 2px;
   left                : 0;
   position            : absolute;
   width               : 100%
}
.u8u.uv0 .uu9 {
   height              : 96px;
   margin-right        : 32px;
   max-width           : 96px
}
.u8u.uv0 .u9u {
   font-size           : 20px;
   font-weight         : var(--fontBold);
   line-height         : 1.4
}
.u8u.uv0 .uv {
   font-size           : 14px
}
.u8u.u0v .uu9 {
   height              : 68px;
   margin-right        : 16px;
   width               : 68px
}
.u8u.u0v .u9u {
   font-size           : 20px;
   font-weight         : var(--fontBold);
   line-height         : 1.4
}
.u8u.u0v .uv {
   font-size           : 14px
}
.u8u.vu0 .uu9 {
   height              : 68px;
   margin-right        : 8px;
   width               : 68px
}
.u8u.vu0 .u9u {
   font-size           : 14px;
   line-height         : 1.3
}
.u8u.vu0 .uv {
   font-size           : 12px;
   line-height         : 1.33
}
.u8u.v0u {
   background-color    : var(--ozBGTertiary);
   border-radius       : 3px;
   box-shadow          : 0 4px 8px 0 rgba(0,26,52,.1);
   box-sizing          : border-box;
   height              : 100%;
   padding             : 12px
}
.uv1.u8u.uv0 .uu9 {
   height              : 72px;
   margin-right        : 16px;
   max-width           : 72px
}
.uv1.u8u.uv0 .u9u {
   font-size           : 16px;
   font-weight         : var(--fontNormal);
   line-height         : 1.25
}
.y8t {
   background-color    : var(--ozBGPrimary);
   border-radius       : 2px;
   box-sizing          : border-box;
   max-height          : 47px
}
.y8t.ty9 {
   padding             : 15px 16px 14px
}
.y8t.t9y {
   padding             : 0
}
.yt9 {
   font-weight         : var(--fontBold)
}
.yt9.y9t {
   font-size           : var(--headMFont);
   line-height         : var(--headMLine)
}
.yt9.tz {
   display             : inline-block;
   padding-left        : 4px
}
.t9z {
   border-top          : 1px solid var(--ozSeparator);
   padding-top         : 48px
}
.zt9 {
   margin-bottom       : 24px
}
.z9t {
   width               : 576px
}
.uu {
   display             : flex
}
.uu0 {
   margin-bottom       : 24px;
   width               : 100%
}
.u0u {
   margin-top          : 16px
}
.uu1 {
   margin-left         : 16px
}
.u1u {
   color               : var(--ozTextSecondary);
   font-size           : 14px;
   line-height         : 1.29
}
.uu2.t9z {
   border              : none;
   padding-top         : 36px
}
.uu2 .uu0,.uu2 .zt9 {
   margin-bottom       : 16px
}
.uu2 .uu0 {
   max-width           : none
}
.uu2 .u2u,.uu2 .uu1 {
   flex                : 1
}
.uu3.t9z {
   padding-top         : 36px
}
.uu3 .z9t {
   width               : 100%
}
.uu3 .uu {
   flex-direction      : column
}
.uu3 .uu1 {
   margin-left         : 0;
   margin-top          : 16px
}
.uu3 .uu0 {
   margin-bottom       : 16px
}
.yy9 {
   align-items         : center;
   display             : flex;
   height              : 64px;
   justify-content     : center;
   position            : relative;
   width               : 64px
}
.y9y {
   cursor              : pointer
}
.y9y:before {
   background-color    : hsla(0,0%,47%,.07)
}
.y9y.yz:after,.y9y:before {
   content             : "";
   height              : 100%;
   left                : 0;
   position            : absolute;
   top                 : 0;
   width               : 100%
}
.y9y.yz:after {
   border              : 2px solid var(--ozAccentPrimary);
   box-sizing          : border-box;
   z-index             : 2
}
.y9y+.y9y {
   margin-left         : 8px
}
.vu8 {
   height              : 40px;
   position            : relative;
   width               : 40px
}
.v8u {
   animation           : uv9 2s linear infinite;
   left                : 0;
   position            : absolute;
   top                 : 0;
   transform-origin    : center center;
   width               : 100%
}
.u9v {
   stroke-dasharray    : 150,200;
   stroke-dashoffset   : -10;
   stroke-linecap      : round
}
.u9v.vu9 {
   animation           : v9u 1.5s ease-in-out infinite
}
.u9v.uw {
   stroke-dasharray    : 125;
   stroke-dashoffset   : 125
}
@keyframes uv9 {
   to {
      transform           : rotate(1turn)
   }
}
@keyframes v9u {
   0%
   {stroke-dasharray:1,200;stroke-dashoffset:0}
   50%
   {stroke-dasharray:89,200;stroke-dashoffset:-35}
   to {
      stroke-dasharray    : 89,200;
      stroke-dashoffset   : -124
   }
}
.uw2 {
   align-items         : center;
   background          : var(--ozParandja);
   border-radius       : 6px;
   display             : flex;
   height              : 96px;
   justify-content     : center;
   margin-right        : 12px;
   overflow            : hidden;
   position            : relative;
   width               : 96px
}
.uw2 .u2w {
   max-height          : 100%
}
.uw2 .wu2 {
   align-items         : center;
   background          : var(--ozBGSecondary);
   border-radius       : 50%;
   cursor              : pointer;
   display             : flex;
   height              : 24px;
   justify-content     : center;
   position            : absolute;
   right               : 4px;
   top                 : 4px;
   width               : 24px
}
.uw2 .w2u {
   left                : 50%;
   position            : absolute;
   top                 : 50%;
   transform           : translate(-50%,-50%);
   z-index             : 1
}
.uw2 .uw3 {
   align-items         : center;
   background          : var(--ozDimming);
   border-radius       : 50%;
   cursor              : pointer;
   display             : flex;
   height              : 40px;
   justify-content     : center;
   position            : relative;
   width               : 40px
}
.uw2 .uw3,.uw2 .uw3 .u3w {
   color               : var(--ozTextPrimaryNegative)
}
.uw2 .uw3 .u3w {
   left                : 50%;
   position            : absolute;
   top                 : 50%;
   transform           : translate(-50%,-50%)
}
.uw2.wu3:after {
   background          : var(--ozWhiteOverlay2);
   bottom              : 0;
   content             : "";
   left                : 0;
   position            : absolute;
   right               : 0;
   top                 : 0
}
.uw2.w3u {
   height              : 80px;
   width               : 80px
}
.wu .uw0 {
   color               : var(--ozTextPrimary);
   font-size           : var(--bodyLFont);
   font-weight         : var(--fontMedium);
   line-height         : var(--bodyLLine);
   margin-bottom       : 16px
}
.wu .uw0 .u0w {
   color               : var(--ozTextSecondary);
   font-weight         : var(--fontNormal)
}
.wu .wu0 {
   align-items         : center;
   display             : flex;
   flex-wrap           : wrap
}
.wu .wu0 .w0u {
   font-size           : var(--bodyMFont);
   line-height         : var(--bodyMLine);
   margin-left         : 24px;
   width               : 270px
}
.wu .wu0 .w0u .uw1 {
   margin-bottom       : 8px
}
.wu .wu0 .w0u .u1w {
   color               : var(--ozTextSecondary)
}
.wu .wu1 {
   margin-top          : 12px
}
.wu.w1u .wu0 .w0u {
   margin-left         : 16px;
   width               : 150px
}
.xz6 {
   outline             : none;
   position            : relative;
   width               : 576px
}
.x6z {
   font-size           : var(--headMFont);
   font-weight         : var(--fontBold);
   line-height         : var(--headMLine);
   margin-bottom       : 5px
}
.x6z,.zx6 {
   color               : var(--ozTextPrimary)
}
.zx6 {
   font-size           : var(--bodyLFont);
   line-height         : var(--bodyLLine);
   margin-bottom       : 26px
}
.z6x {
   margin-top          : 34px;
   min-height          : 500px;
   position            : relative
}
.xz7 {
   margin-bottom       : 8px
}
.x7z {
   text-align          : center
}
.zx7 {
   margin              : 0 auto;
   padding             : 20px 0 0
}
.z7x {
   margin-bottom       : 28px
}
.xz8 {
   display             : flex;
   margin-bottom       : 32px
}
.x8z,.xz8 {
   align-items         : center
}
.x8z {
   background          : none;
   border              : 0;
   color               : var(--ozTextSecondary);
   cursor              : pointer;
   display             : inline-flex;
   font-family         : var(--mainFont);
   font-size           : var(--bodyMFont);
   padding             : 0
}
.x8z:hover {
   color               : var(--ozAccentPrimary)
}
.zx8 {
   margin-right        : 8px
}
.z8x {
   align-items         : center;
   border-right        : 1px solid var(--ozBGQuaternary);
   display             : flex;
   margin-right        : 24px;
   padding-right       : 24px
}
.x9z,.xz9 {
   margin-bottom       : 24px
}
.z9x,.zx9 {
   margin-bottom       : 40px
}
.yy {
   margin-bottom       : 64px
}
.yy0+.yy0 {
   margin-top          : 74px
}
.y0y {
   margin-top          : 40px;
   position            : relative
}
.y0y:before {
   background-color    : var(--ozSeparator);
   content             : "";
   height              : 1px;
   left                : -64px;
   position            : absolute;
   right               : -64px;
   top                 : 0
}
.y2z {
   background-color    : var(--ozBGPrimary);
   padding             : 40px 0
}
.zy2 {
   box-sizing          : border-box;
   margin              : 0 auto;
   max-width           : var(--desktop-screen-default);
   padding             : 0 var(--desktop-padding-default);
   width               : 100%
}
.z2y {
   padding             : 0 28px
}
.yz3 {
   font-size           : var(--headLFont);
   line-height         : var(--headLLine);
   margin-bottom       : 5px
}
.y3z,.yz3 {
   color               : var(--ozTextPrimary)
}
.y3z {
   font-size           : var(--bodyMFont);
   line-height         : var(--bodyMLine);
   margin              : 0 0 var(--gap) 0
}
.z4x {
   height              : 348px;
   margin-left         : 12px;
   padding             : 0;
   width               : calc(100% - 10px)
}
.z4x.xz5>div {
   overflow            : visible
}
.z4x.x5z {
   height              : 371px;
   margin-bottom       : 40px
}
.zx5 {
   border-radius       : 8px;
   height              : 348px
}
.zx5.x5z {
   height              : 371px
}
.z5x {
   box-sizing          : border-box;
   left                : 50%;
   padding-right       : 16px;
   transform           : translateX(-50%);
   width               : 100%
}
.yy1 {
   background          : var(--ozBGSecondary);
   min-height          : 500px;
   outline             : none;
   overflow            : hidden;
   padding             : 16px;
   position            : relative;
   text-align          : left;
   z-index             : 0
}
.y1y {
   font-weight         : var(--fontMedium);
   margin-bottom       : 2px
}
.y1y,.yy2 {
   color               : var(--ozTextPrimary);
   font-size           : var(--bodyLFont);
   line-height         : var(--bodyLLine)
}
.yy2 {
   margin-bottom       : 26px
}
.y2y {
   position            : relative
}
.yy3 {
   text-align          : center
}
.y3y {
   margin-bottom       : 36px
}
.y4y,.yy4 {
   margin-bottom       : 52px
}
.yy5 {
   margin-bottom       : 64px
}
.y5y+.y5y {
   margin-top          : 74px
}
.y6y,.yy6 {
   margin-bottom       : 24px
}
.y6y {
   position            : relative
}
.y6y:before {
   background-color    : var(--ozSeparator);
   content             : "";
   height              : 1px;
   left                : -64px;
   position            : absolute;
   right               : -64px;
   top                 : 0
}
.zy3 {
   background-color    : var(--ozBGPrimary);
   overflow            : hidden;
   padding             : 30px 0
}
.z3y {
   box-sizing          : border-box;
   margin              : 0 auto;
   max-width           : var(--desktop-screen-default);
   padding             : 0 16px;
   width               : 100%
}
.yz4 {
   font-size           : var(--headMFont);
   line-height         : var(--headMLine);
   margin-bottom       : 5px
}
.y4z,.yz4 {
   color               : var(--ozTextPrimary)
}
.y4z {
   font-size           : var(--bodyMFont);
   line-height         : var(--bodyMLine);
   margin              : 0 0 var(--gap) 0
}