._48-a {
   flex-direction      : column
}
._48-a0 {
   -webkit-text-fill-color: #001a34;
   -webkit-text-fill-color: var(--ozTextPrimary);
   background-color    : hsla(0,0%,100%,0);
   background-color    : var(--ozTransparent);
   border              : 0;
   box-sizing          : border-box;
   caret-color         : #005bff;
   caret-color         : var(--ozAccentPrimary);
   color               : inherit;
   font-family         : GTEestiPro,arial,sans-serif;
   font-family         : var(--mainFont);
   font-size           : 100%;
   line-height         : 1.15;
   margin              : 0;
   outline             : none;
   padding             : 0 10px;
   resize              : none;
   text-align          : inherit;
   vertical-align      : top;
   width               : 100%
}
._48-a0._48-a1 {
   overflow            : auto
}
._48-a0._48-a2 {
   font-size           : 14px;
   font-size           : var(--bodyMFont);
   line-height         : 18px;
   line-height         : var(--bodyMLine);
   padding             : 5px 10px
}
._48-a0._48-a3 {
   padding             : 8px 10px
}
._48-a0._48-a3,._48-a0._48-a4 {
   font-size           : 16px;
   font-size           : var(--bodyLFont);
   line-height         : 20px;
   line-height         : var(--bodyLLine)
}
._48-a0._48-a4 {
   margin-top          : 18px;
   padding             : 0 10px 6px
}
._48-a0._48-a5 {
   font-size           : 38px;
   font-size           : var(--headXXLFont);
   font-weight         : 500;
   font-weight         : var(--fontMedium);
   line-height         : 46px;
   line-height         : var(--headXXLLine);
   margin-top          : 13px;
   padding             : 0 10px 6px
}