._29-a {
   border-radius       : 12px;
   font-family         : GTEestiPro,arial,sans-serif;
   font-family         : var(--mainFont);
   font-size           : 14px;
   line-height         : 18px;
   padding             : 16px 24px 16px 16px;
   position            : relative
}
._29-a._29-a0 {
   width               : 100%
}
._29-a ._29-a1 {
   align-items         : flex-start;
   display             : flex;
   flex-flow           : row nowrap;
   justify-content     : flex-start
}
._29-a ._29-a1 ._29-a2 {
   flex                : 0 0 40px;
   margin-right        : 8px;
   max-height          : 40px;
   max-width           : 40px;
   min-height          : 40px;
   min-width           : 40px;
   overflow            : hidden;
   width               : 40px
}
._29-a ._29-a1 ._29-a3 {
   flex                : 0 0 24px;
   height              : 24px;
   margin-right        : 8px;
   min-width           : 24px;
   width               : 24px
}
._29-a ._29-a1 ._29-a4 {
   align-self          : center;
   line-height         : 18px;
   line-height         : var(--bodyMLine);
   padding             : 4px 0 2px
}
._29-a ._29-a1 ._29-a4 ._29-a5 {
   font-weight         : 500;
   font-weight         : var(--fontMedium)
}
._29-a ._29-a1 ._29-a4 ._29-a6 {
   margin-right        : 16px;
   margin-top          : 12px
}
._29-a ._29-a7 {
   margin-top          : 8px
}
._29-a ._29-a8 {
   color               : #707f8d;
   color               : var(--ozTextSecondary);
   height              : 16px;
   max-height          : 16px;
   max-width           : 16px;
   min-width           : auto;
   position            : absolute;
   right               : 8px;
   top                 : 8px;
   width               : 16px
}
._29-a9 {
   background-color    : #f2f5f9;
   background-color    : var(--ozBGPrimary);
   color               : #3d5165;
   color               : var(--ozTextTertiary)
}
._29-b {
   background-color    : #001a34;
   background-color    : var(--ozBlack);
   color               : #fff;
   color               : var(--ozTextPrimaryNegative)
}