.c8af {
   box-sizing          : border-box;
   color               : var(--ozTextPrimary);
   margin              : 8px 0;
   position            : relative
}
.fca8 {
   color               : var(--ozAccentPrimary)
}
.fc8a {
   margin-bottom       : 24px
}
.fc8a.fac8 {
   margin-bottom       : 20px
}
.fa8c {
   margin-top          : 24px
}
.fa8c.fac8 {
   margin-top          : 12px
}
.f8ac {
   -webkit-line-clamp  : 2;
   box-sizing          : border-box;
   flex-grow           : 1;
   font-family         : var(--title-font)
}
.f8ac,.f8ca {
   -webkit-box-orient  : vertical;
   display             : -webkit-box;
   overflow            : hidden;
   text-overflow       : ellipsis
}
.f8ca {
   -webkit-line-clamp  : 3;
   color               : inherit;
   font-weight         : var(--fontNormal)
}
.f8ca.acf9 {
   color               : var(--ozWhite1)
}
.ac9f .f8ac,.fa8c .f8ac {
   -webkit-line-clamp  : 1
}
.ac9f .f8ac {
   line-height         : 40px;
   margin              : 4px 0 16px
}
.f8ac+.f8ca {
   margin-top          : 4px
}
.qd4 {
   color               : var(--ozCtrlPrimary);
   cursor              : pointer;
   margin              : 0
}
.q4d {
   margin-bottom       : var(--spacing-l)
}
.cea {
   display             : flex;
   flex                : auto;
   flex-direction      : column;
   margin-bottom       : var(--gap)
}
.cea.eca {
   margin-top          : var(--gap)
}
.cea .eac {
   margin-bottom       : 0
}
.cea .ace0 {
   display             : flex;
   flex-wrap           : wrap;
   line-height         : 0;
   overflow            : hidden;
   padding             : 0
}
.ac0e img {
   border-radius       : 12px;
   height              : 100%;
   -o-object-fit       : cover;
   object-fit          : cover;
   transition          : var(--transition);
   transition-property : filter;
   width               : 100%;
   will-change         : filter
}
.aec0 img {
   max-height          : none;
   width               : 100%
}
.ac0e {
   cursor              : pointer;
   flex-grow           : 1;
   margin              : var(--gap) var(--gap) 0 0;
   overflow            : hidden;
   position            : relative
}
.ac0e.ae0c:not(.a0ec):hover img {
   filter              : brightness(.86)
}
.a0ce {
   cursor              : pointer;
   position            : absolute;
   right               : var(--spacing-s);
   top                 : var(--spacing-s);
   z-index             : 4
}
@media (-ms-high-contrast:none),screen and (-ms-high-contrast:active) {
   .ac0e img {
      min-width           : 100%
   }
   .ac0e,.ac0e.ae0c:before {
      transition          : var(--transition)
   }
   .ac0e.ae0c:before {
      background          : transparent;
      content             : "";
      display             : block;
      height              : 100%;
      left                : 0;
      position            : absolute;
      top                 : 0;
      transition-property : background-color;
      width               : 100%;
      will-change         : background-color
   }
   .ac0e.ae0c:hover:before {
      background-color    : rgba(0,0,0,.24);
      z-index             : 2
   }
}
.ac0e .cae0 {
   box-sizing          : border-box;
   margin              : 0
}
.ac0e .cae0.ca0e {
   text-align          : left
}
.ac0e .cae0.cea0 {
   text-align          : center
}
.ce0a .cae0.c0ea {
   left                : var(--gap);
   position            : absolute;
   top                 : 14%
}
.ce0a .cae0.c0ae {
   left                : var(--gap);
   position            : absolute;
   top                 : 50%;
   transform           : translateY(-50%)
}
.ce0a .cae0.eca0 {
   bottom              : 14%;
   left                : var(--gap);
   position            : absolute
}
.ce0a .cae0.cea0 {
   width               : calc(100% - var(--gap)*2)
}
.ec0a .cae0 {
   padding-top         : 12px
}
.ac0e .eac0 {
   font-size           : var(--headMFont);
   font-weight         : var(--fontBold);
   letter-spacing      : .1px;
   line-height         : var(--headMLine);
   margin-bottom       : 5px
}
.ac0e .ea0c,.ac0e .eac0 {
   display             : block;
   overflow            : hidden;
   text-overflow       : ellipsis
}
.ac0e .ea0c {
   font-size           : var(--bodyMFont);
   font-weight         : var(--fontNormal);
   letter-spacing      : -.1px;
   line-height         : var(--bodyMLine)
}
.e0ac {
   width               : calc(50% - var(--gap))
}
.e0ac:nth-child(2n) {
   margin-right        : 0
}
.e0ac .cae0.c0ea {
   left                : 40px;
   top                 : 10%
}
.e0ac .cae0.c0ae {
   left                : 40px
}
.e0ac .cae0.eca0 {
   bottom              : 10%;
   left                : 40px
}
.e0ac.ce0a .cae0.cea0 {
   width               : calc(100% - 80px)
}
.e0ca {
   width               : calc(33.33333% - var(--gap))
}
.e0ca:nth-child(3n) {
   margin-right        : 0
}
.ace1 {
   width               : calc(25% - var(--gap))
}
.ace1:nth-child(4n) {
   margin-right        : 0
}
.ac0e.ac1e .cae0 {
   display             : none
}