.sg9 {
   outline             : none
}
.s9g {
   font-size           : 24px;
   font-weight         : 700;
   line-height         : 32px;
   padding-bottom      : 24px;
   text-align          : left
}
.gt {
   border-bottom       : 1px solid var(--ozSeparator);
   display             : flex;
   margin-bottom       : 24px;
   padding             : 0 7px 16px
}
.gt.tg {
   overflow            : hidden
}
.gt0 {
   align-items         : center;
   display             : flex;
   height              : 48px;
   justify-content     : center;
   margin-right        : 16px;
   width               : auto
}
.gt0 img {
   display             : block;
   height              : auto;
   width               : auto
}
.tg .gt0 {
   height              : auto;
   max-height          : 200px
}
.tg .gt0 img {
   height              : 100%
}
.g0t {
   -webkit-line-clamp  : 3;
   -webkit-box-orient  : vertical;
   align-items         : center;
   display             : -webkit-box;
   margin              : auto 0;
   max-width           : 100%;
   overflow            : hidden;
   text-align          : left;
   text-overflow       : ellipsis;
   white-space         : normal;
   width               : 100%
}
.tg0 {
   font-size           : 18px
}
.t0g {
   align-items         : center;
   background          : var(--ozBGPrimary);
   border-radius       : 4px;
   color               : var(--ozTextPrimary);
   cursor              : pointer;
   display             : flex;
   padding             : 20px 16px;
   text-align          : left
}
.gt1,.t0g {
   margin-bottom       : 8px
}
.gt1 {
   color               : var(--ozAccentPrimary);
   padding             : 16px 12px
}
.g1t {
   color               : var(--ozTextSecondary)
}
.tg1 {
   color               : var(--ozAccentAlert);
   font-size           : 12px;
   margin              : -4px 0 16px;
   text-align          : left
}
.t1g {
   margin-right        : 8px
}
.gt2 {
   color               : var(--ozTextSecondary);
   cursor              : default;
   width               : 100%
}
.gt2:before {
   content             : "Уже добавлен";
   display             : inline-block;
   float               : right;
   font-size           : 12px
}
.g2t {
   width               : 376px
}
.tg2 {
   margin              : 0 auto;
   padding             : 0 0 12px;
   width               : 100%
}
.tg2.tg {
   max-width           : var(--desktop-screen-ally)
}
.t2g {
   padding-top         : 20px
}
.gt3 .g3t .modal-container {
   margin              : 0 auto!important
}
.g6t {
   background-color    : var(--ozBGSecondary);
   border-radius       : 2px;
   box-sizing          : border-box;
   max-width           : 480px;
   text-align          : left;
   width               : 280px
}
.tg6 {
   font-size           : 25px;
   font-weight         : var(--fontBold);
   line-height         : 38px;
   margin-bottom       : 26px;
   word-break          : break-all
}
.t6g {
   font-size           : 16px;
   text-align          : left
}
.gt7 {
   display             : flex;
   flex-wrap           : wrap;
   justify-content     : space-between;
   width               : 100%
}
.g7t {
   color               : var(--ozAccentAlert)
}
.tg7 {
   display             : flex;
   flex-direction      : column;
   margin-bottom       : 20px
}
.tg7 div:not(:last-child) {
   margin-bottom       : 8px
}
.t7g {
   font-weight         : var(--fontBold)
}
.gt8,.t7g {
   color               : var(--ozTextPrimary)
}
.gt8 {
   cursor              : pointer
}
.gt8:hover {
   color               : var(--ozAccentPrimary)
}
.g8t {
   display             : flex;
   height              : auto;
   justify-content     : flex-start;
   margin-top          : 24px;
   width               : 100%
}
.g8t .tg8 {
   width               : auto
}
.g8t .tg8:first-child {
   margin-right        : 16px
}
.t8g .gt7 label {
   width               : 100%!important
}
.gt9,.gt9 .t8g {
   position            : relative
}
.gt9 .g9t {
   min-width           : 280px;
   width               : 100%
}
.gt9 .gt7 {
   height              : 70px
}
.gt9 .tg7 {
   margin              : 12px auto 20px;
   max-width           : 320px
}
@media (min-device-width:320px) and (max-device-width:480px) {
   .g8t.tg9 {
      background-color    : var(--ozBGSecondary);
      bottom              : 0;
      box-shadow          : 0 -4px 8px 0 rgba(0,0,0,.04);
      left                : 0;
      padding             : 8px 16px;
      position            : fixed;
      right               : 0;
      width               : auto
   }
   .g8t.tg9 .tg8 {
      margin-right        : 0;
      width               : 100%
   }
   .tg6 {
      padding-top         : 20px
   }
}
.ce9a {
   align-items         : center;
   background          : var(--ozWhiteOverlay3);
   border-radius       : 16px;
   box-sizing          : border-box;
   display             : flex;
   flex-direction      : column;
   justify-content     : center;
   margin-bottom       : var(--spacing-l);
   padding             : var(--spacing-xl)
}
.ce9a.c9ea {
   width               : 100%
}
.ce9a.c9ae {
   width               : calc(50% - var(--spacing-l))
}
.ce9a.eca9 {
   width               : calc(33.33333% - var(--spacing-l))
}
.ce9a.ec9a {
   width               : calc(25% - var(--spacing-l))
}
.ce9a.eac9 {
   width               : calc(20% - var(--spacing-l))
}
.ce9a.ea9c {
   width               : calc(16.66667% - var(--spacing-l))
}
.ce9a.e9ac {
   width               : calc(14.28571% - var(--spacing-l))
}
.ce9a.e9ca {
   width               : calc(12.5% - var(--spacing-l))
}
.ce9a .acf {
   align-items         : center;
   background          : var(--ozWhiteOverlay3);
   border-radius       : 50%;
   display             : flex;
   height              : 56px;
   justify-content     : center;
   width               : 56px
}
.ce9a .afc {
   color               : var(--ozBGSecondary);
   font-size           : var(--headMFont);
   font-weight         : var(--fontBold);
   line-height         : var(--headMLine);
   margin-top          : var(--spacing-xl);
   text-align          : center
}
.ac7e.aec7 {
   margin-bottom       : var(--spacing-m2)
}
.ac7e.ae7c {
   margin-bottom       : var(--spacing-xl)
}
.a7ec,.aec7 .a7ce {
   align-items         : baseline;
   display             : flex
}
.aec7 .a7ce {
   margin              : var(--spacing-m) 0;
   width               : 100%
}
.a7ce.cae7 {
   cursor              : pointer
}
.ca7e {
   margin-top          : var(--spacing-m)
}
.aec7 .ca7e {
   margin-top          : 0
}
.cea7 {
   margin-left         : auto;
   padding             : 2px 0 0 8px
}
.cea3 {
   display             : flex;
   flex                : auto;
   flex-direction      : column;
   flex-grow           : 1;
   justify-content     : space-between;
   margin-bottom       : var(--gap);
   margin-top          : var(--gap);
   padding             : 0 var(--mobile-padding)
}
.cea3.ce3a {
   border-radius       : 24px;
   overflow            : hidden
}
.cea3.c3ea {
   padding             : var(--spacing-xxl) var(--spacing-xl)
}
.c3ae {
   align-content       : flex-start;
   align-items         : stretch;
   display             : flex;
   flex-direction      : row;
   flex-grow           : 1;
   flex-wrap           : wrap;
   justify-content     : space-between
}
.eca3 {
   margin-bottom       : var(--spacing-l)
}
.eca3.ce3a .ec3a {
   border-radius       : 16px;
   overflow            : hidden
}
.eca3.ce3a .eac3 {
   padding             : 0 16px
}